In [1]:
import sys, os

In [24]:
sys.path.insert(0, '..')
from modules import findata as fd
from modules import company

In [25]:
import pandas as pd
import numpy as np
import json

In [26]:
def renameCols(df):
    col_list = list(df.columns)
    df2 = df.set_axis([x.strftime("%m/%d/%Y") for x in col_list], axis=1, inplace=False)
    return df2

def setDateRows1(df):
    row_list = list(df.index)
    df2 = df.set_axis([x.strftime("%m/%d/%Y") for x in row_list], axis=0, inplace=False)
    return df2

In [37]:
target = company.Company("MSFT")

In [38]:
type(target)

modules.company.Company

In [39]:
df = pd.DataFrame(target.calculateROIC())

In [40]:
def getNopat(self):
    return self.getEbit() + self.getDepreciation() - self.getIncomeTaxes()

In [30]:
target_nopat  = pd.DataFrame(target.getNopat())

                    0

2021-06-30  74.136545
2020-06-30  51.722093
2019-06-30  47.215731
2018-06-30  22.536744

In [29]:
def to_dict(df):
    data = []
    df = setDateRows1(df)
    df = df.reset_index()
    df = df.set_axis(["Dates", "ROIC"], axis=1, inplace=False)
    dict_data = []
    for i in range(df.shape[0]):
        dict_data.append(dict(df.iloc[i]))
    return dict_data

to_dict(df)

[{'Dates': '06/30/2021', 'ROIC': 74.13654450699224},
 {'Dates': '06/30/2020', 'ROIC': 51.72209297021121},
 {'Dates': '06/30/2019', 'ROIC': 47.21573135340896},
 {'Dates': '06/30/2018', 'ROIC': 22.536744202781225}]

In [11]:
allData = to_dict(df)
type(allData)
for i in allData:
    print(i)

NameError: name 'df' is not defined

In [ ]:

allData