## Testing Findata Module
### Shits a fuckin mess right now, good fucking job Boris

In [39]:
import pandas as pd
import numpy as np

In [40]:
import sys, os
sys.path.insert(0, '..')

In [41]:
from modules import findata as fd

In [42]:
fd.getUnleveredBeta()

                                   2022  2021  2020  2019  2018  2017
Industry Name
Advertising                        0.97  0.89  0.77  0.93  0.87  0.78
Aerospace/Defense                  1.05  1.04  0.91  1.08  1.09  0.99
Air Transport                      0.75  0.80  0.91  0.84  0.63  0.67
Apparel                            1.00  0.90  0.94  0.83  0.76  0.85
Auto & Truck                       0.99  0.71  1.05  0.53  0.34  0.59
...                                 ...   ...   ...   ...   ...   ...
Trucking                           1.21  0.96  0.94  1.04  0.71  0.81
Utility (General)                  0.59  0.33  0.48  0.19  0.17   0.2
Utility  (Water)                   0.61  0.47  0.57  0.57  0.32  0.27
Total Market                       0.85  0.80  0.75  0.83   0.8  0.72
Total Market (without financials)  1.00  0.96  0.86  1.01   1.0   0.9

[96 rows x 6 columns]

In [ ]:
fd.getRiskFreeRateMonth()