In [82]:
import sys, os

In [83]:
sys.path.insert(0, '..')
from modules import findata as fd
from modules import company

In [84]:
import pandas as pd
import numpy as np
import json

In [85]:
def renameCols(df):
    col_list = list(df.columns)
    df2 = df.set_axis([x.strftime("%m/%d/%Y") for x in col_list], axis=1, inplace=False)
    return df2

def setDateRows1(df):
    row_list = list(df.index)
    df2 = df.set_axis([x.strftime("%m/%d/%Y") for x in row_list], axis=0, inplace=False)
    return df2

In [86]:
target = company.Company("MSFT")

In [87]:
type(target)

modules.company.Company

In [88]:
df = pd.DataFrame(target.calculateROIC())
df.reset_index()

                      0
0 2021-06-30  74.136545
1 2020-06-30  51.722093
2 2019-06-30  47.215731
3 2018-06-30  22.536744

In [63]:
target_nopat  = pd.DataFrame(target.getNopat())

AttributeError: 'Company' object has no attribute 'getNopat'

In [ ]:
swf to_dict(d

In [81]:
def to_dict(df):
    data = []
    df = setDateRows1(df)
    df = df.reset_index()
    df = df.set_axis(["Dates", "ROIC"], axis=1, inplace=False)
    dict_data = []
    for i in range(df.shape[0]):
        dict_data.append(dict(df.iloc[i]))
    return df

to_dict(df)

        Dates       ROIC
0  06/30/2021  74.136545
1  06/30/2020  51.722093
2  06/30/2019  47.215731
3  06/30/2018  22.536744

In [71]:
allData = to_dict(df)
type(allData)
for i in allData:
    print(i)

{'Dates': '06/30/2021', 'ROIC': 74.13654450699224}
{'Dates': '06/30/2020', 'ROIC': 51.72209297021121}
{'Dates': '06/30/2019', 'ROIC': 47.21573135340896}
{'Dates': '06/30/2018', 'ROIC': 22.536744202781225}

In [72]:
allData

[{'Dates': '06/30/2021', 'ROIC': 74.13654450699224},
 {'Dates': '06/30/2020', 'ROIC': 51.72209297021121},
 {'Dates': '06/30/2019', 'ROIC': 47.21573135340896},
 {'Dates': '06/30/2018', 'ROIC': 22.536744202781225}]

In [80]:

allData[1]["ROIC"]

51.72209297021121