## Testing Findata Module
### Shits a fuckin mess right now, good fucking job Boris

In [7]:
import pandas as pd
import numpy as np
import requests
import re
import json
import time

In [8]:
import sys, os
sys.path.insert(0, '..')

In [9]:
from modules import findata as fd

## New Implementations

In [10]:
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.131 Safari/537.3"
    }

In [11]:
def getRiskFreeRatesForAustria():
    # returns long-term interest rate for convergence purposes - 10 years maturity, from last month to 1993
    # in pandas.DataFrame format
    source = "https://sdw.ecb.europa.eu/quickview.do?SERIES_KEY=229.IRS.M.AT.L.L40.CI.0000.EUR.N.Z"
    data = pd.read_html(requests.get(source, headers=headers).text)
    table = data[5].loc[2:].reset_index(drop=True)
    table = table.drop(columns=["obs. status"])
    table.columns = ["Period", "Values in %"]
    return table
    
getRiskFreeRatesForAustria()

      Period Values in %
0    2022-04        1.29
1    2022-03        0.72
2    2022-02        0.54
3    2022-01        0.18
4    2021-12       -0.05
..       ...         ...
347  1993-05        7.06
348  1993-04        6.93
349  1993-03        6.86
350  1993-02        7.13
351  1993-01        7.22

[352 rows x 2 columns]

In [135]:
URL = "https://sdw.ecb.europa.eu/quickview.do?SERIES_KEY=229.IRS.M.AT.L.L40.CI.0000.EUR.N.Z"
r = requests.get(URL)
r.headers

{'Server': 'myracloud', 'Date': 'Mon, 25 Apr 2022 12:21:24 GMT', 'Content-Type': 'text/html;charset=UTF-8', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'Vary': 'accept, accept-encoding, origin', 'Cache-Control': 'no-transform, proxy-revalidate, public, max-age=30', 'Last-Modified': 'Tue, 12 Apr 2022 08:00:00 GMT', 'Content-Encoding': 'gzip', 'Expires': 'Mon, 25 Apr 2022 10:02:13 GMT', 'X-CDN': '1'}

In [136]:
r.headers['content-type']

'text/html;charset=UTF-8'

In [137]:
time.sleep(5)
print("wake up")

wake up

def getRiskFreeRateEuroArea(country_code, currency_code):
    # def getRiskFreeRateEuroArea():
    #     # source: https://sdw.ecb.europa.eu/
    #     # ID for 10 year-treasury : 229
    #     # querly_url : https://sdw.ecb.europa.eu/quickview.do?SERIES_KEY=229
    #     # series_key = IRS.M.AT.L.L40.CI.0000.EUR.N.Z
    #     # country_code = AT
    assert isinstance(country_code, str), "Only string values"
    assert len(country_code) == 2, "Country must be two characters long"
    assert isinstance(currency_code, str), "Only string values"
    assert len(currency_code) == 3, "Currency must be three characters long"
    try:
        BASE_URL = "https://sdw.ecb.europa.eu/quickview.do?SERIES_KEY=229.IRS.M." + country_code + ".L.L40.CI.0000." + currency_code + ".N.Z"
        data = pd.read_html(requests.get(BASE_URL, headers=headers).text)
        table = data[5].loc[2:].reset_index(drop=True)
        table = table.drop(columns=["obs. status"])
        table.columns = ["Period", "Values in %"]
        return table
    except AssertionError as msg:
        print(msg)
    
getRiskFreeRateEuroArea("DE", "EUR")
getRiskFreeRateEuroArea("CZ", "CZK")
getRiskFreeRateEuroArea("DK", "DKK")

In [139]:
fd.getRiskFreeRateEuroArea("DE", "EUR")

AttributeError: module 'modules.findata' has no attribute 'getRiskFreeRateEuroArea'